body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}

header {
  background-image: url('img/header-bg.jpg'); /* Imagen en carpeta /img */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  padding: 60px 20px;
}
.download-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 20px;
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  width: auto;
}

.download-btn:hover {
  background-color: #0056b3;
}

.bio .download-btn {
  float: left; /* Usa right si prefieres alinearlo a la derecha */
}

